<div th:fragment="head" >
<head>
    <link rel="stylesheet" type="text/css" href="/styles/header.css">
    <title></title>
</head>
<header >
    <div class="headercontainer">
        <div>
            <a href="/"><img src="/ghost.png"  alt="logo" class="logo"></a>
        </div>
        <div>
            <a href="/" class="navlink">Home</a>
            <a href="/posts" class="navlink">Blog</a>
            <a href="/posts/create" class="navlink">Publish</a>
            <a href="/about" class="navlink">About Us</a>
        </div>
        <div>
            <a class="loginbutton">Login</a>
        </div>
    </div>
</header>
</div>