<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" href="/ghost.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/css.css">
    <title th:text="${title}"> </title>
</head>
<body>
<header th:insert="~{/inc/header :: head}" class="header"></header>
<div th:each="el : ${posts}" class="content">
    <h3 th:text="${el.name}" class="postname"/>
    <p th:text="${el.short_desc}"/>
    <img th:src="'/images/'+${el.image}"  class="gameimage" alt="gameimage"/>
    <a th:href="'post/'+${el.id}" class="buttonread">Read</a>
</div>
<footer th:insert="~{/inc/footer :: foot}" class="footer"></footer>
</body>
</html>