<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" href="/ghost.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/css.css">
    <title th:text="${title}"> </title>
</head>
<body>
<header th:insert="~{/inc/header :: head}" class="header"></header>
<h1 th:text="${text}" class="zagolovok"></h1>
<div th:each="el : ${posts}" class="content">
    <h3 th:text="${el.name}" class="postname"/>
    <img th:src="'/images/'+${el.image}" alt="gameimage" class="gameimage"/>
    <p th:text="${el.full_desc}"/>
    <a th:href="${el.id}+'/edit'" class="buttonread">Edit</a>
    <a th:href="${el.id}+'/delete'" class="buttondel">Delete</a>
</div>
<footer th:insert="~{/inc/footer :: foot}" class="footer"></footer>
</body>
</html>