<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="icon" href="/ghost.png">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/css.css">
    <title th:text="${title}"> </title>
</head>
<body>
<header th:insert="/inc/header :: head" class="header"></header>
<div th:each="el : ${posts}">
<form id="dataForm" th:method="post" th:action="'/post/'+${el.id}+'/edited'" enctype="multipart/form-data" class="formcontainer">
    <h2>Edit your post</h2>
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" th:value="${el.name}" required><br>
    <label for="short_desc">Short Description:</label><br>
    <textarea id="short_desc" name="short_desc" th:text="${el.short_desc}" rows="2" required></textarea><br>
    <label for="full_desc">Full Description:</label><br>
    <textarea id="full_desc" name="full_desc" rows="4" cols="30" th:text="${el.full_desc}" required></textarea><br>
    <label for="image">Image:</label><br>
    <input type="file" id="image" name="image" accept="image/gif, image/png, image/jpeg, image/jpg"><br>
    <label for="downloads">Downloads:</label><br>
    <input type="number"  id="downloads" name="downloads" th:value="${el.downloads}" required><br>
    <label for="wishlisted">Wishlisted:</label><br>
    <input type="number" id="wishlisted" name="wishlisted" th:value="${el.wishlisted}" required><br>
    <label>
        <input type="text" hidden="hidden" name="oldphoto" th:value="${el.image}">
    </label>
    <button class="buttonaccept" style="max-width: 100px">Submit</button>
</form>
</div>
<footer th:insert="~{/inc/footer :: foot}" class="footer"></footer>
</body>
</html>